  <div class="login-container">

    <img src="assets/image/logo2.svg" alt="logotipo do New Journal">
    <form>

      <h1>Faça o login para saber as últimas notícias</h1>

      <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" placeholder="digite o email"/>
      </div>

      <div class="form-group">
        <label for="Email">Senha</label>
        <input type="password" placeholder="ex:123"/>
      </div>

      <button  mat-raised-button color="primary">ENTRAR</button>

    </form>

  </div>




