  <div class="login-container">

    <img src="assets/image/logo2.svg" alt="logotipo do New Journal">
    <form>

      <h1>Faça o login para saber as últimas notícias</h1>

      <div class="form-group">
        <label for="Email">Email</label>
        <input
        [formControl]="email"
        required
        [(ngModel)]="creds.email"
        name="email" type="text"
        placeholder="digite o email"/>
      </div>

      <div class="form-group">
        <label for="Email">Senha</label>
        <input
        [formControl]="senha"
        required
        [(ngModel)]="creds.senha"
        name="senha" type="password"
        placeholder="ex:123"/>
      </div>

      <button [disabled]="!validaCampos()" mat-raised-button color="primary">ENTRAR</button>

    </form>

  </div>




