  <div class="login-container">

    <form class="form">

    <mat-form-field class="full-width" appearance="outline">
      <label for="email">Email</label>
      <input matInput placeholder="exemplo@email.com">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <label for="senha">Senha</label>
      <mat-label>Senha</mat-label>
      <input type="password" matInput placeholder="123">
    </mat-form-field>

    <button mat-raised-button color="primary">ENTRAR</button>

  </form>

  </div>




