.login-container{
height: 100%;
display: flex;
background: linear-gradient(180deg,
 rgba(86,241,45,1) 28%,
 rgba(85,177,61,1) 45%,
 rgba(86,209,53,1) 49%,
 rgba(84,84,84,1) 66%);
flex-direction: row;
align-items: center;
justify-content: center;
}

form{
  width: 25rem;
  margin: 0 auto 0 auto;
  padding: 15px;
  box-shadow:rgb(61, 59, 59) 1px 1px 1px ;
}

img{
  margin: 2rem auto;
}

.form-group{
  margin: 2rem auto;
  border-radius: 5px;
}

h1{
  width: 100%;
  text-align: center;
}

button{
  width: 100%;
}
