<form>

  <div class="check">
      <mat-checkbox class="margin" color="primary">Comportamento</mat-checkbox>
      <mat-checkbox class="margin" color="primary">Técnologia</mat-checkbox>
      <mat-checkbox class="margin" color="primary">Esporte</mat-checkbox>
      <mat-checkbox class="margin" color="primary">Meio Ambiente</mat-checkbox>
      <mat-checkbox class="margin" color="primary">Atualidade</mat-checkbox>
  </div>

  <div class="form-group">
      <label for="title">Título</label>
      <input type="text" placeholder="Coloque um título" required/>
  </div>
  <div class="form-group">
      <label for="description">Notícia</label>
      <textarea placeholder="O que aconteceu" required></textarea>
  </div>
  <div class="form-group">
      <label for="image">Imagem relacionada a notícia</label>
      <input type="file">
  </div>
  <input class="button" type="submit" value="{{btnText}}">
</form>
